@use 'styles/colors';
@use 'styles/typography';
@use 'styles/typography-fonts';
@use 'styles/typography-utilities';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color-scheme: light;
  background-color: colors.$color-white;
  color: colors.$color-gray-900;
  @include typography.type-scale('md');
}
