<div class="create-course">
  <h2>Create Course</h2>
  <form (ngSubmit)="handleCreateCourse()">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        [(ngModel)]="course.title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        [(ngModel)]="course.description"
        required
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price (in USD):</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        [(ngModel)]="course.price"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">add Course</button>
  </form>
</div>
