<div class="create-course">
  <h2>{{ i18n.course.create }}</h2>
  <form (ngSubmit)="handleCreateCourse()">
    <div>
      <label for="title">{{ i18n.course.title }}:</label>
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="course.title"
        required
      />
    </div>
    <div>
      <label for="description">{{ i18n.course.description }}:</label>
      <input
        id="description"
        name="description"
        [(ngModel)]="course.description"
        required
      />
    </div>
    <div>
      <label for="price">{{ i18n.course.price }}</label>
      <input
        type="number"
        id="price"
        name="price"
        [(ngModel)]="course.price"
        required
      />
    </div>
    <button type="submit">{{ i18n.course.add }}</button>
  </form>
</div>
